:root {
  --base-1: #f2f2f2;
  --primary-1: #42b3ad;
  --secondary-1: #5d280a;

  --base-2: fefefe;
  --primary-2: #fc5d03;
  --secondary-2: #661c66;

  --base-3: fefefe;
  --primary-3: #d4baa1;
  --secondary-3: #4b0017;

  --base-4: fefefe;
  --primary-4: #ea534a;
  --secondary-4: #4d2095;

  --base-5: #fefefe;
  --primary-5: #fefefe;
  --secondary-5: #0f0500;

  --base: var(--base-1);
  --primary: var(--primary-1);
  --secondary: var(--secondary-1);

  --text: #555;
  --text-contrast: #fff;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  transition: all 0.5s ease;
}

body {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 2em 1em;

  color: var(--text);
  background-color: var(--base);
  scroll-behavior: smooth;
}

nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

nav a:first-of-type {
  margin-left: auto;
}

h1 {
  color: var(--primary);
  font-family: circular-bold;
}

h2 {
  font-family: avenir-bold;
}

h3,
p,
button,
a {
  font-family: circular;
}

p {
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
}

a.button {
  cursor: pointer;
  border: none;
  color: var(--text-contrast);
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: var(--secondary);
  padding: 0 24px;
  height: 56px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    all 0.5s ease,
    transform 0.1s linear;
}

a.button:hover {
  transform: scale(1.025);
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--secondary);
  color: var(--text-contrast);
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 0;
  height: 56px;

  font-size: 18px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    all 0.5s ease,
    transform 0.1s linear;
}

button:hover {
  transform: scale(1.025);
}

button.round {
  border-radius: 500px;
  padding-left: 24px;
  padding-right: 24px;
}

button.square {
  border-radius: 4px;
  padding-left: 40px;
  padding-right: 40px;
}

hr {
  margin: 85px 10px;
  border: none;
  height: 1px;
  background-color: var(--primary);
  filter: opacity(20%);
}

/* landing section */

.landing {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  margin-top: 30px;
}

@media (max-width: 600px) {
  .landing {
    display: flex;
    flex-direction: column;
    gap: 55px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  margin-bottom: 10px;
}

.content h1 {
  margin-bottom: -5px;
}

.content button {
  font-size: 1em;
}

.dog-container {
  align-self: end;
  transform: scale(0.8);
}

/* poll section */

.poll {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.question {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--secondary);

  color: var(--primary);
  margin-bottom: 44px;
}

.poll-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 22px;
}

.poll-options div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  cursor: pointer;
  border: 2px dashed transparent;
}

.poll-options div.selected {
  border: 2px dashed var(--secondary);
  border-radius: 20px;
}

.option img {
  width: 220px;
  max-width: 100%;
}

.option img:nth-child(1) {
  width: 48%;
  padding-top: 24px;
}

.option img:nth-child(2) {
  width: 80%;
  margin-top: 12px;
  padding-bottom: 24px;
}

@font-face {
  font-family: "circular";
  src: url("assets/circular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "circular-bold";
  src: url("assets/circular-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "avenir-bold";
  src: url("assets/avenir-bold.woff2") format("woff2");
  font-display: swap;
}
