.container {
  display: flex;
  gap: var(--xs);
  border-radius: 12px;
  background-color: var(--white);
  padding: 16px;
}

.thumbs {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.full {
  border-radius: var(--xs);
  box-shadow: 0px 2px 10px 0px #dedede;
  height: 400px;
  margin: auto;
  object-fit: cover;
  width: 100%;
}

.thumb {
  border-radius: var(--xs);
  box-shadow: 0px 2px 10px 0px #dedede;
  height: 50px;
  object-fit: cover;
  width: 60px;
  border: 2px solid rgba(242, 242, 242, 1);
}
