.nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 600px) {
  .nav {
    display: none;
  }
}

.nav a {
  align-items: center;
  border-bottom: 2px solid transparent;
  color: var(--text);
  display: flex;
  font-weight: bold;
  height: 64px;
  justify-content: center;
}

.nav a:hover {
  border-color: var(--primary);
}

.nav a:first-of-type {
  margin-left: auto;
}
