.content {
  align-items: center;
  display: flex;
  gap: var(--xl);
  justify-content: center;
  padding: 54px 0;
}

@media (max-width: 600px) {
  .content {
    flex-direction: column;
    gap: var(--md);
  }
}

.social {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icons {
  display: flex;
  gap: 12px;
}

.icons a {
  display: flex;
}

.iconContainer {
  align-items: center;
  background-color: var(--primary);
  border-radius: 8px;
  display: flex;
  padding: 10px;
}

.iconContainer img {
  width: 32px;
}

.verticalLine {
  background-color: var(--base);
  height: 125px;
  opacity: 0.4;
  width: 1px;
}

@media (max-width: 600px) {
  .verticalLine {
    display: none;
  }
}

.end {
  background-color: var(--primary);
  padding: 5px;
}

@media (max-width: 600px) {
  .end {
    display: none;
  }
}

.end p {
  color: var(--secondary);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.7rem;
  text-align: center;
}
