.images {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-top: var(--md);
}

.images img {
  height: 110px;
}

@media (max-width: 600px) {
  .images {
    align-items: center;
    flex-direction: column;
  }

  .images a {
    display: flex;
    justify-content: center;
  }

  .images img {
    height: auto;
    width: 55%;
  }
}
